# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                      @godotengine/buildsystem
.github/                                @godotengine/buildsystem

# Core

/core/                                  @godotengine/core
/core/crypto/                           @godotengine/network
/core/debugger/                         @godotengine/debugger
/core/extension/                        @godotengine/gdextension
/core/input/                            @godotengine/input

# Doc

/doc/                                   @godotengine/documentation
**/doc_classes/                         @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                          @godotengine/audio
/drivers/alsamidi/                      @godotengine/audio
/drivers/coreaudio/                     @godotengine/audio
/drivers/coremidi/                      @godotengine/audio
/drivers/pulseaudio/                    @godotengine/audio
/drivers/wasapi/                        @godotengine/audio
/drivers/winmidi/                       @godotengine/audio
/drivers/xaudio2/                       @godotengine/audio

## Rendering
/drivers/d3d12/                         @godotengine/rendering
/drivers/dummy/                         @godotengine/rendering
/drivers/gles3/                         @godotengine/rendering
/drivers/spirv-reflect/                 @godotengine/rendering
/drivers/vulkan/                        @godotengine/rendering

## OS
/drivers/unix/                          @godotengine/_platforms
/drivers/windows/                       @godotengine/windows

## Misc
/drivers/png/                           @godotengine/import

# Editor

/editor/*debugger*                      @godotengine/debugger
/editor/gui/                            @godotengine/usability @godotengine/gui-nodes
/editor/icons/                          @godotengine/usability
/editor/import/                         @godotengine/import
/editor/plugins/*2d_*.*                 @godotengine/2d-editor
/editor/plugins/*3d_*.*                 @godotengine/3d-editor
/editor/plugins/script_*.*              @godotengine/script-editor
/editor/plugins/*shader*.*              @godotengine/shaders
/editor/themes/                         @godotengine/usability @godotengine/gui-nodes
/editor/code_editor.*                   @godotengine/script-editor
/editor/*dock*.*                        @godotengine/docks
/editor/*shader*.*                      @godotengine/shaders

# Main

/main/                                  @godotengine/core

# Misc

/misc/                                  @godotengine/buildsystem
/misc/extension_api_validation/         @godotengine/gdextension @godotengine/dotnet

# Modules

## Audio (+ video)
/modules/interactive_music/             @godotengine/audio @AThousandShips
/modules/interactive_music/doc_classes/ @godotengine/audio @godotengine/documentation @AThousandShips
/modules/minimp3/                       @godotengine/audio @AThousandShips
/modules/minimp3/doc_classes/           @godotengine/audio @godotengine/documentation @AThousandShips
/modules/ogg/                           @godotengine/audio @AThousandShips
/modules/ogg/doc_classes/               @godotengine/audio @godotengine/documentation @AThousandShips
/modules/theora/                        @godotengine/audio @AThousandShips
/modules/theora/doc_classes/            @godotengine/audio @godotengine/documentation @AThousandShips
/modules/vorbis/                        @godotengine/audio @AThousandShips
/modules/vorbis/doc_classes/            @godotengine/audio @godotengine/documentation @AThousandShips

## Import
/modules/astcenc/                       @godotengine/import @AThousandShips
/modules/basis_universal/               @godotengine/import @AThousandShips
/modules/bmp/                           @godotengine/import @AThousandShips
/modules/cvtt/                          @godotengine/import @AThousandShips
/modules/dds/                           @godotengine/import @AThousandShips
/modules/etcpak/                        @godotengine/import @AThousandShips
/modules/fbx/                           @godotengine/import @AThousandShips
/modules/fbx/doc_classes/               @godotengine/import @godotengine/documentation @AThousandShips
/modules/gltf/                          @godotengine/import @AThousandShips
/modules/gltf/doc_classes/              @godotengine/import @godotengine/documentation @AThousandShips
/modules/hdr/                           @godotengine/import @AThousandShips
/modules/jpg/                           @godotengine/import @AThousandShips
/modules/ktx/                           @godotengine/import @AThousandShips
/modules/squish/                        @godotengine/import @AThousandShips
/modules/svg/                           @godotengine/import @AThousandShips
/modules/tga/                           @godotengine/import @AThousandShips
/modules/tinyexr/                       @godotengine/import @AThousandShips
/modules/webp/                          @godotengine/import @AThousandShips

## Network
/modules/enet/                          @godotengine/network @AThousandShips
/modules/enet/doc_classes/              @godotengine/network @godotengine/documentation @AThousandShips
/modules/mbedtls/                       @godotengine/network @AThousandShips
/modules/mbedtls/tests/                 @godotengine/network @godotengine/tests @AThousandShips
/modules/multiplayer/                   @godotengine/network @AThousandShips
/modules/multiplayer/doc_classes/       @godotengine/network @godotengine/documentation @AThousandShips
/modules/upnp/                          @godotengine/network @AThousandShips
/modules/upnp/doc_classes/              @godotengine/network @godotengine/documentation @AThousandShips
/modules/webrtc/                        @godotengine/network @AThousandShips
/modules/webrtc/doc_classes/            @godotengine/network @godotengine/documentation @AThousandShips
/modules/websocket/                     @godotengine/network @AThousandShips
/modules/websocket/doc_classes/         @godotengine/network @godotengine/documentation @AThousandShips

## Rendering
/modules/glslang/                       @godotengine/rendering @AThousandShips
/modules/lightmapper_rd/                @godotengine/rendering @AThousandShips
/modules/meshoptimizer/                 @godotengine/rendering @AThousandShips
/modules/raycast/                       @godotengine/rendering @AThousandShips
/modules/vhacd/                         @godotengine/rendering @AThousandShips
/modules/xatlas_unwrap/                 @godotengine/rendering @AThousandShips

## Scripting
/modules/gdscript/                      @godotengine/gdscript @AThousandShips
/modules/gdscript/doc_classes/          @godotengine/gdscript @godotengine/documentation @AThousandShips
/modules/gdscript/tests/                @godotengine/gdscript @godotengine/tests @AThousandShips
/modules/jsonrpc/                       @godotengine/gdscript @godotengine/network @AThousandShips
/modules/mono/                          @godotengine/dotnet @AThousandShips
/modules/mono/doc_classes/              @godotengine/dotnet @godotengine/documentation @AThousandShips

## Text
/modules/freetype/                      @godotengine/buildsystem @AThousandShips
/modules/msdfgen/                       @godotengine/buildsystem @AThousandShips
/modules/text_server_adv/               @godotengine/gui-nodes @AThousandShips
/modules/text_server_adv/doc_classes/   @godotengine/gui-nodes @godotengine/documentation @AThousandShips
/modules/text_server_fb/                @godotengine/gui-nodes @AThousandShips
/modules/text_server_fb/doc_classes/    @godotengine/gui-nodes @godotengine/documentation @AThousandShips

## XR
/modules/camera/                        @godotengine/xr @AThousandShips
/modules/mobile_vr/                     @godotengine/xr @AThousandShips
/modules/mobile_vr/doc_classes/         @godotengine/xr @godotengine/documentation @AThousandShips
/modules/openxr/                        @godotengine/xr @AThousandShips
/modules/openxr/doc_classes/            @godotengine/xr @godotengine/documentation @AThousandShips
/modules/webxr/                         @godotengine/xr @AThousandShips
/modules/webxr/doc_classes/             @godotengine/xr @godotengine/documentation @AThousandShips

## Misc
/modules/csg/                           @godotengine/3d-nodes @AThousandShips
/modules/csg/doc_classes/               @godotengine/3d-nodes @godotengine/documentation @AThousandShips
/modules/navigation/                    @godotengine/navigation @AThousandShips
/modules/gridmap/                       @godotengine/3d-nodes @AThousandShips
/modules/gridmap/doc_classes/           @godotengine/3d-nodes @godotengine/documentation @AThousandShips
/modules/noise/                         @godotengine/core @AThousandShips
/modules/noise/doc_classes/             @godotengine/core @godotengine/documentation @AThousandShips
/modules/noise/tests/                   @godotengine/core @godotengine/tests @AThousandShips
/modules/regex/                         @godotengine/core @AThousandShips
/modules/regex/doc_classes/             @godotengine/core @godotengine/documentation @AThousandShips
/modules/regex/test/                    @godotengine/core @godotengine/tests @AThousandShips
/modules/zip/                           @godotengine/core @AThousandShips
/modules/zip/doc_classes/               @godotengine/core @godotengine/documentation @AThousandShips

# Platform

/platform/android/                      @godotengine/android
/platform/android/doc_classes/          @godotengine/android @godotengine/documentation
/platform/ios/                          @godotengine/ios
/platform/ios/doc_classes/              @godotengine/ios @godotengine/documentation
/platform/linuxbsd/                     @godotengine/linux-bsd
/platform/linuxbsd/doc_classes/         @godotengine/linux-bsd @godotengine/documentation
/platform/macos/                        @godotengine/macos
/platform/macos/doc_classes/            @godotengine/macos @godotengine/documentation
/platform/web/                          @godotengine/web
/platform/web/doc_classes/              @godotengine/web @godotengine/documentation
/platform/windows/                      @godotengine/windows
/platform/windows/doc_classes/          @godotengine/windows @godotengine/documentation

# Scene

/scene/2d/                              @godotengine/2d-nodes
/scene/3d/                              @godotengine/3d-nodes
/scene/animation/                       @godotengine/animation
/scene/audio/                           @godotengine/audio
/scene/debugger/                        @godotengine/debugger
/scene/gui/                             @godotengine/gui-nodes
/scene/main/                            @godotengine/core
/scene/resources/font.*                 @godotengine/gui-nodes
/scene/resources/text_line.*            @godotengine/gui-nodes
/scene/resources/text_paragraph.*       @godotengine/gui-nodes
/scene/resources/visual_shader*.*       @godotengine/shaders
/scene/theme/                           @godotengine/gui-nodes

# Servers

/servers/audio*                         @godotengine/audio
/servers/camera*                        @godotengine/xr
/servers/display_server.*               @godotengine/_platforms
/servers/navigation_server*.*           @godotengine/navigation
/servers/physics*                       @godotengine/physics
/servers/rendering*                     @godotengine/rendering
/servers/text_server.*                  @godotengine/gui-nodes
/servers/xr*                            @godotengine/xr

# Tests

/tests/                                 @godotengine/tests

# Thirdparty

/thirdparty/                            @godotengine/buildsystem

# Buildsystem (After everything to catch all)

*.py                                    @godotengine/buildsystem
SConstruct                              @godotengine/buildsystem
SCsub                                   @godotengine/buildsystem
